.task-container {
  display: block;
  float: left;
  border: 1px solid var(--color-border-normal);
  margin: 1rem;

  &.selected:hover {
    border: 1px solid var(--color-border-normal);
  }
}

.task-container:hover {
  border: 1px solid var(--color-border-hover);
}

.clarity-task {
  color: var(--color-font-default);
  display: block;
  min-height: 10rem;
  width: 20rem;
  background-color: var(--color-row-normal-hover);
  padding: 1rem;
}

.clarity-task-stopwatch {
  color: var(--color-font-default);
  display: block;
  width: 20rem;
  background-color: var(--color-row-normal-hover);
  padding: 1rem;
}

.clarity-task.selected {
  color: var(--color-font-cell-selected);
  background-color: var(--color-cell-selected);
}

.clarity-task+.clarity-task-stopwatch {
  color: var(--color-font-cell-selected);
  background-color: var(--color-cell-selected);
  border-top: 1px solid var(--color-border-normal);
}

.clarity-task+.clarity-task-stopwatch.running {
  font-weight: bold;
}

.clarity-task+.clarity-task-stopwatch.paused {
  background-color: var(--color-stopwatch-paused);
}


