<h1>Neue Aufgabe anlegen</h1>

<form [formGroup]="form">
  <fieldset class="formular">
    <legend>Eingaben</legend>

    <label for="bezeichnung">Bezeichnung</label>
    <div class="feld">
      <input type="text"
             id="bezeichnung"
             formControlName="bezeichnung"
             (input)="updateTask(bezeichnung.value, gruppe.value, id.value)" />
      @if(hasError(bezeichnung, 'required')) {
        <span class="error">Pflichtfeld</span>
      } @else if (hasError(bezeichnung, 'maxlength')) {
        <span class="error">Nur {{ MAX_BEZEICHNUNG_LENGTH }} Zeichen erlaubt</span>
      }
    </div>

    <label for="gruppe">Gruppe</label>
    <div class="feld">
      <input type="text"
             id="gruppe"
             formControlName="gruppe"
             (input)="updateTask(bezeichnung.value, gruppe.value, id.value)" />
      @if (hasError(gruppe, 'required')) {
        <span class="error">Pflichtfeld</span>
      } @else if (hasError(gruppe, 'maxlength')) {
        <span class="error">Nur {{ MAX_GRUPPE_LENGTH }} Zeichen erlaubt</span>
      }
    </div>

    <label for="id">ID</label>
    <div class="feld">
    <input type="text"
           id="id"
           formControlName="id"
           (input)="updateTask(bezeichnung.value, gruppe.value, id.value)" />
    @if(hasError(id, 'required')) {
      <span class="error">Pflichtfeld</span>
    } @else if (hasError(id, 'idUniqueness')) {
      <span class="error">ID existiert bereits</span>
    }
    </div>

  </fieldset>

  <button type="button"
          (click)="speichern()"
          [disabled]="form.invalid"
          style="float:right">
    speichern
  </button>

</form>

