.kategorie {
  cursor: pointer;
  user-select: none;
}

.inhalt {
  margin-bottom: 1rem;
  border-bottom: 1px dashed black;
  padding: 1rem 1rem 2rem;
}

.inhalt:last-child {
  border: none;
}

.inhalt:after {
  content: "";
  display: block;
  clear: both;
}
