.clickable {
  cursor: pointer;

  &:hover {
    color: var(--color-font-cell-selected);
  }
}

.grid-row.clickable:hover {
  background-color: var(--color-row-normal-hover);
}

.grid-cell.clickable:hover {
  background-color: var(--color-cell-selected);
}

